**/Debug/
**/Release/
**/html/
**/Backup/
**/*.bak
**/.~lock.*
**/.project
**/.settings/org.eclipse.cdt.codan.core.prefs
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.core.runtime.prefs
**/.buildpath
**/.settings/org.eclipse.cdt.core.prefs
**/.metadata/

